/* 注册*/

#Login{width:978px; font-size:12px; color:#666666; border:1px solid #dcdfe5; margin:0; padding-top:36px;}
#Login h1{width:889px; border-bottom:1px solid #565662; margin:0; padding:0; margin-bottom:25px;}
#Login input{width:217px; height:19px; border:1px solid #a5afc3;}
#Login .inputSty01{width:106px; height:19px; border:1px solid #a5afc3;}
#Login .lineJL{margin:0px 0 59px 0;}
.sty01{padding-bottom:2px;}
.sty02{padding-bottom:2px; text-align:left;}
.sty03{padding-top:5px;}
.sty04{color:#999999;}
.sty05{color:#333333;}

#dl{ width:800px; font-size:12px; color:#999999; margin:15px 0 0 0;}

#dl h1{margin:0; font:100 12px "宋体"; padding-bottom:15px;}
#dl .dl, .zc{width:385px; width:383px !important; height:418px; *+height:428px; _height:435px; border:1px solid #dcdfe5;}
#dl .dl{clear:left; float:left;}
#dl .zc{float:right;}
#dl h2{margin:0; border-bottom:1px solid #565662; width:343px; padding-top:20px; margin-bottom:5px;}
#dl input{width:200px; height:19px; border:1px solid #a5afc3; line-height:19px; }

	.dlC{width:343px;}
	.dlC p{ margin:0; padding-left:65px; }
	.dlC .sty01{ padding-bottom:5px; padding-top:20px; color:#999999;}
	.dlC .sty02{ padding-bottom:20px; color:#666666;}
	.dlC .sty03{ padding-bottom:8px; color:#666666;}
	.dlC .sty04{ padding-left:113px; padding-bottom:23px; color:#333333;}
	.dlC .sty05{ clear:left;  padding-left:113px;}	
	.dlC .sty06{ clear:left; width:280px; margin-top:70px;*+margin-top:81px; _margin-top:85px;}
	.dlC .sty07{ color:#333333;}
	
	.dlC ul{margin:0px; padding:0px;}
	.dlC li{ list-style:none; margin:0; padding:0 0 10px 0; width:340px; }
	.dlC .sty08{ padding-top:0px; color:#666666;}
	.dlC .sty088{ padding-top:0px; color:#666666;}
	.dlC .sty09{ text-indent:0px; text-align:left !important; text-align:right; padding-left:140px !important; margin-left:0; line-height:18px;}
	.dlC .sty10{ padding-top:6px;}
	.dlC .sty10 input{ padding-right:122px;}
	.dlC .pwdli span{ margin:0px; float:left; padding-left:137px; line-height:17px;}
	.dlC .emailli{ height:45px;}
	.dlC .newusername{ height:25px;}
	
	.Reginput{display:block; height:16px; vertical-align:middle; text-align:center;margin-top:2px;line-height:140%;}
	.Error{border:1px solid #A10000; background-color:#f5f5f5;}
	.errorword{display:block; height:16px;margin-top:2px;clear:both; width:200px; margin:0 0 5px 114px;text-align:center; line-height:140%;}
	.rihtReg{border:1px solid #08a63a; background-color:#f5f5f5; color:#08a63a;}


